<footer class="footer">
    <small class="footer_copyright">
      <div id="bottom-inner">
        © Site by <%=config.author%><br>
        <a href="http://hexo.io">Hexo</a> &
        <a href="https://github.com/g0dmao/hexo-theme-Klise-enhanced">Klise-enhanced</a>
        <br>
        <a href="https://chinese-font.netlify.app/zh-cn/fonts/jhlst/%E4%BA%AC%E8%8F%AF%E8%80%81%E5%AE%8B%E4%BD%93v2_002">京華老宋体</a> & <a href="https://chinese-font.netlify.app/zh-cn/">中文网字支持计划</a>
        <br>
        始于2025.
        
      </div>
    </small>
  </footer>
  
  <%- partial('partials/scripts') %>