<footer class="footer">
    <small class="footer_copyright">
      <div id="bottom-inner">
        © Site by <%=config.author%><br>
        <a href="http://hexo.io">Hexo</a> &
        <a href="https://github.com/illlights/hexo-theme-Klise-enhanced">Klise-enhanced</a>
        <br>
        始于2021.
        
      </div>
    </small>
  </footer>
  
  <%- partial('partials/scripts') %>